$white:          #ffffff;
$grey-lightest:  #f2f2f2;
$grey-lighter:   #E8E8E8;
$grey-light:     #A1A1A1;
$grey:           #8C8C8C;
$grey-dark:      #6E6E6E;
$grey-darker:    #424242;
$grey-darkest:   #1c1d21;
$black:          #0e1015;

$orange-lightest:    #FFD2B2;
$orange-lighter:     #FFA666;
$orange-light:       #FF8126;
$orange:             #FF791A;
$orange-dark:        #E66000;
$orange-darker:      #CC5500;

$turquoise-lightest: #A2F2FA;
$turquoise-lighter:  #50D7E5;
$turquoise-light:    #28B8C7;
$turquoise:          #099AAA;
$turquoise-dark:     #00818F;
$turquoise-darker:   #006A75;
