---
layout: #
case-study: #

id: #
title: "#"
group-parent: #
group-order: #

intro-headline: >
  <h2 class="title title--lg">Introduction</h2>

intro: >
  <p class="text--lg">Inspire and educate our members and wider audiences about Nikon’s new mirrorless Z 7 camera. Photography and travel are a great match, but we still needed to craft a meaningful partnership; Nikon were clear that they wanted to see something mutually beneficial, so our offering needed to feel truly valuable and honest to our members. </p>
  <p class="text--lg">This campaign was our second opportunity to work with Nikon. The previous campaign, Capture the Journey, had yielded incredible results, showing that our Nikon content really engaged our audience. With this new opportunity, we had a wealth of learnings to apply to our next creative offering.</p>

live-url: "https://m-stg.secretescapes.com/de/2020/japan"



details:
  - key: Datum
    val: 2020
  - key: Client
    val: #
  - key: Territories
    val: Germany
  - key: Outcomes
    val: Website & Map, Display, Email


results:

  title: Ergebnisse
  items:

      - id: Microsite
        summary: "29% of the 6,500 video views generated across the content hub were completed in full, showing that the video content we created was both highly engaging and a highly effective way to communicate with the Secret Escapes audience."
        highlights:
            - key: Dwell time
              val: "261,257"
              icon: dwelltime
            - key: Unique hub views
              val: "80,514"
              icon: views
            - key: Reach
              val: "16,026,655"
              icon: ctr

      - id: Display
        summary: "29% of the 6,500 video views generated across the content hub were completed in full, showing that the video content we created was both highly engaging and a highly effective way to communicate with the Secret Escapes audience."
        highlights:
            - key: Dwell time
              val: "261,257"
              icon: dwelltime
            - key: Unique hub views
              val: "80,514"
              icon: views
            - key: Reach
              val: "16,026,655"
              icon: ctr

      - id: Social Media
        summary: "29% of the 6,500 video views generated across the content hub were completed in full, showing that the video content we created was both highly engaging and a highly effective way to communicate with the Secret Escapes audience."
        highlights:
            - key: Dwell time
              val: "261,257"
              icon: dwelltime
            - key: Unique hub views
              val: "80,514"
              icon: views
            - key: Reach
              val: "16,026,655"
              icon: ctr






solution: >
  <h2 class="title title--lg">The Solution</h2>
  <p class="text--lg">We created a multi-platform campaign, with a phased content release. The idea was to find two photographers, both from inspiring and very different parts of the world, and have them show each other around their favourite photo locations. Mixing the incredible landscapes of Norway and the urban scenes of Singapore, we could show off two photographic disciplines, show the versatility of the camera, and create a beautiful travel piece that would be recognisable to our members whilst still having Nikon at the forefront of the narrative. Two films were made, one for each location, and both were also filmed on the Nikon Z 7. A supporting microsite showcased the photographs from the trip, with meaningful interpretation of each by our photographers, plus a print photobook that we sent out to members and also gave to Nikon for their Nikon School. </p>

  <div class="bv-tablet-hide space--xxl"></div>


microsite-1:
  <hr>
  <h4 class="title title--sm">Overview with map</h4>
  <p>"Join Jeryl as local photographer Gunvor Eline shows him around her home. From the patchwork of fjords and islands to the soaring, white-capped peaks, both photographers captured this mesmerising landscape with the Nikon Z 7. Find their photos below, offering a glimpse at two very different approaches…"</p>


microsite-2:
  <hr>
  <h4 class="title title--sm">Tradition</h4>
  <p>"Capture light like never before. Enjoy unrivalled optical quality and sensor quality in all lighting situations, with an ISO range that covers 64-25600 ISO – with minimal noise and astounding dynamic range."</p>


hpto:
  <hr>
  <h4 class="title title--sm">Homepage Takeover</h4>
  <p>"Capture light like never before. Enjoy unrivalled optical quality and sensor quality in all lighting situations, with an ISO range that covers 64-25600 ISO – with minimal noise and astounding dynamic range."</p>


email:
  <hr>
  <h4 class="title title--sm">Newsletter</h4>
  <p>"Capture light like never before. Enjoy unrivalled optical quality and sensor quality in all lighting situations, with an ISO range that covers 64-25600 ISO – with minimal noise and astounding dynamic range."</p>


display:
  <hr>
  <h4 class="title title--sm">Display</h4>
  <p>"Capture light like never before. Enjoy unrivalled optical quality and sensor quality in all lighting situations, with an ISO range that covers 64-25600 ISO – with minimal noise and astounding dynamic range."</p>


social:
  <hr>
  <h4 class="title title--sm">Social Media </h4>
  <p>"Capture light like never before. Enjoy unrivalled optical quality and sensor quality in all lighting situations, with an ISO range that covers 64-25600 ISO – with minimal noise and astounding dynamic range."</p>



---





{% include project/layouts/section-background.html background="intro-background.jpg" content=page.intro-content theme="light" %}

{% include project/layouts/content.html content=page.solution %}


{% include project/layouts/section-longscroll.html image="microsite-1.jpg" content=page.microsite-1 %}

{% include project/layouts/section-longscroll.html image="microsite-2.jpg" content=page.microsite-2 %}

{% include project/layouts/section-longscroll.html image="display.jpg" ratio="16-9" content=page.display %}

{% include project/layouts/section-longscroll.html image="hpto.jpg" content=page.hpto %}

{% include project/layouts/section-longscroll.html image="email.jpg" content=page.email %}

{% include project/layouts/section-social.html image="facebook_post.jpg" image2="instagram.jpg" content=page.social %}


{% include project/layouts/section-background.html background="intro-background.jpg" content=page.intro-content theme="light" %}
