<div class="project-tile project-tile--sm" style="background-image: url({{site.img}}/projects/{{project.id}}/banner.jpg);">
  <a href="javascript:void(0);" data-modal-item="{{project.id}}" class="js-open-modal project-tile__link"></a>
  <div class="project-tile__content">
    <div class="title title--sm">{{project.title}}</div>
    <div class="space--sm"></div>
    <span class="btn btn--sm btn--outline btn--outline-white">View project</span>
  </div>
  <div class="project-tile__overlay"></div>
</div>