
{% assign background   = include.background %}
{% assign content = include.content %}

<div class="container container--100 container--no-padding">
  <div class="vpad--xxxxl bg--img bv-parallax" style="background-image: url({{site.img}}/projects/{{page.id}}/{{background}}">

    <div class="container">
      <div class="row">

        <div class="col col--6">&nbsp;</div>
        <div class="col col--6{% if include.theme == 'dark' %} text--white{% else %} text--black{% endif %}">

        </div>

      </div>
    </div>

  </div>
</div>
