// general styles for the project that wouldn't be a reuseable component


/* =================================================
 * HOME PAGE
 */

.clients {
  &__logo {
    background-size: 75%;
    &-sandals{ background-size: 60%; }
    &-hunter { background-size: 60%; }
    &-nikon { background-size: 50%; }
  }
}

.services {
  &__item {
    &-icon {
      background-size: 50%;
      border: 1px solid rgba($grey-darkest,0.1);
      box-shadow: 0 0 15px 0 rgba($grey-darkest,0.1);
    }
  }
}
.bv-results {

      background-size: 50%;
      @include bp($lg){
        background-size: 60%;
      }

}

.project-tile {
  display: block;
  position: relative;
  min-height: 360px;
  width: 100%;
  overflow: hidden;
  transform: scale(1);
  @include background-attributes;
  @include transition;

  &--sm { min-height: 240px; }

  @include bp($lg){
    min-height: 360px;
    &--sm { min-height: 360px; }
  }
  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba($black,0.3);
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    text-align: center;
    @include page-padding;
    & .title { color: $white; }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-overlay;
    cursor: pointer;
  }
  &__overlay {
    position: absolute;
    z-index: 0;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-color: rgba($black,0.3);
    @include transition;
  }
  &:hover &__overlay {
    background-color: rgba($black,0.6);
  }
}



/* =================================================
 * PROJECT PAGE
 */

.layout--project {
  & .logo__svg .st0 { fill: $white !important; }
}

.project {
  &__awards { margin-top: $s0; }
  &__award {
    display: flex;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    &-image {
      width: 36px;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      margin-right: 10px;
      flex: 0 0 36px;
      height: 36px;
    }
    &-text {
      padding-top: 0 !important;
      align-self: center;
    }
  }
}

/*== SCROLL TRACK ==*/
// Long scroll with pinned content

@include bp($xxxl){
.scrolltrack {

  position: relative;
  justify-content: left;
  &__image {
    align-self: left;
    position: relative;
    left: 0;
  }
  &__content {
    position: absolute;
    top: 0;
    right: 0;
    .is-fixed & {
      position: fixed;
    }
    .is-parked & {
      position: absolute;
      top: auto;
      bottom: 0;
    }
    .row--reverse & {
      right: auto;
      left: 0;
    }
  }
}
}

.bv-border {
  border: 2px solid #f2f2f2!important;
//box-shadow: 0 0 10px 0px rgba($black, .2);
}

/*== PROJECT SLIDER ==*/
// Used both on project pages and on modals

$icon-size-sm: 2.4em;
$icon-size: 3.6em;

.project-gallery {
  position: relative;
  display: block;
  @include bp($lg){
    margin-left: $icon-size;
    margin-right: $icon-size;
  }
  &__slide-sizer {
    position: relative;
    z-index: 0;
    visibility: hidden;
    width: 100%;
    &:before {
      content: '';
      display: block;
      position: relative;
      width: 100%;
      padding-top: 56.25%;
    }
  }
  &__slide {
    @include modaltransition();
    width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    &.is-open     { left: 0; opacity: 1; }
    &.is-opening  { left: 0; opacity: 1; }
    &.is-closing-next  { left: -$modaltransition-distance; opacity: 0; }
    &.is-closing-prev  { left: $modaltransition-distance; opacity: 0; }
    &.is-closed   { left: 0; opacity: 0; }
    &.is-prev     { left: -$modaltransition-distance; }
    &.is-next     { left: $modaltransition-distance; }
  }

  &__nav {

    @include transition;
    display: block;
    position: absolute;
    bottom: 0;
    height: $icon-size-sm*1.5;
    width: $icon-size;
    z-index: $z-overlay-upper;
    background-color: rgba($black,0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    user-select: none;
    &:hover{ background-color: $black; }
    @include bp($lg){
      bottom: auto;
      position: absolute;
      top: 50%;
      margin-top: -$icon-size;
      height: $icon-size*2;
    }

    &--next {
      background-image: url('../img/icons/arrow-right.svg');
      right: 0;
      @include bp($lg){
        border-radius: 0 999px 999px 0;
        right: -$icon-size;
      }
    }
    &--previous {
      background-image: url('../img/icons/arrow-left.svg');
      left: 0;
      @include bp($lg){
        border-radius: 999px 0 0 999px;
        left: -$icon-size;
      }
    }

  }
}



/* == WORK PROMO BANNER ==*/

.work-promo {
  position: relative;
  background-color: $grey-darkest;
  &__content,
  &__link {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    z-index: $z-content-upper;
    display: flex;
    align-items: center;
  }
  &__link { z-index: $z-content-overlay; }
  &__bg {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      right: 0; bottom: 0;
      background-color: rgba($grey-darkest,0.5);
      z-index: 1;
    }
  }
}




/* =================================================
 * AUDIENCE PAGE
 */

.reach {
  position: relative;
  &__content {
    pointer-events: none;
    position: absolute;
    z-index: $z-content-overlay;
    top: 0; left: 0;
    right: 0; bottom: 0;
    & a { pointer-events: all; }

    background: -moz-linear-gradient(-45deg,  rgba(14,16,21,0.7) 0%, rgba(14,16,21,0) 50%);
    background: -webkit-linear-gradient(-45deg,  rgba(14,16,21,0.7) 0%,rgba(14,16,21,0) 50%);
    background: linear-gradient(135deg,  rgba(14,16,21,0.7) 0%,rgba(14,16,21,0) 50%);

  }
}

/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media only screen and (max-width: 1024px) {

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

  }
}

.bv-shadow{

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}


/* ==========================================================================
   result icons
   ========================================================================== */

.bv-results-dwelltime{
  background-size: 46%;
}

.bv-results-views{
  background-size: 65%;
}

.bv-results-ctr{
  background-size: 65%;
}

.bv-results-socialmedia{
  background-size: 46%;
}

.bv-results-email{
  background-size: 65%;
}


/* ==========================================================================
   devices
   ========================================================================== */



.bv-devices{

  width:88%;
  height: 50vh;
  margin-left:6%;
  max-height: 420px;
  min-height: 300px;
  background-color: #000;
  border: 20px solid #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.bv-devices-iframe{

  width: 244%;
  height: 245%;
  transform: scale(0.41);
  transform-origin: 0 0;

}
.bv-mob-show {

    display: none;
}

.bv-mob-hide {
  display: block;
}


@media only screen and (max-width: 1024px) {

  .bv-devices{

    //width:85%;
    height: 76vh;
    max-height: 620px;
    min-height: 600px;
    //padding-bottom: 75%;
    background-color: #000;
    border: 25px solid #000;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left:6%;

  }
  .bv-mob-hide {
    display: block;
  }
  .bv-tablet-hide {
    display: none;
  }
}


@media only screen and (min-width: 481px) and (max-width: 768px)   {

  .bv-devices{

    //width:85%;
    //height: 86vh;
    min-height: 560px;
    //padding-bottom: 75%;

  }

  .bv-mob-show {

      display: block;
  }
}



@media only screen and (max-width: 480px) {

  .bv-devices{
    //width:85%;
    height: 84vh;
    min-height: 560px;
    //padding-bottom: 75%;
    background-color: #000;
    border: 14px solid #000;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    //margin-left:6%;

  }
  .bv-mob-speaker {
    position: absolute;
    width: 36vw;
    height: 18px;
    //top: 26px;
    left: 31.5%;
    z-index: 4;
    background: black;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  .bv-mob-hide {
    display: none;
  }

  .bv-tablet-hide {
    display: none;
  }
  .bv-mob-show {

      display: block;
  }

}
