---
layout: project
case-study: true

id: salzburger-land
title: "SalzburgerLand"
group-parent: work
group-order: 1

intro-headline: >
  <h2 class="title title--lg">The Challenge</h2>

intro: >
  <p class="text--lg">Our members love to be inspired by great places, therefore it was a great fit to promote such a great destination as “Salzburger Land”. The goal was to promote the region itself and the great variety it offers. We were able to show this variety in all our assets, focusing on the highlight – snow activities. The campaign showed great results, showing that our Salzburger Land content really engaged our audience. </p>

live-url: "https://m-stg.secretescapes.com/de/2020/salzburger-land"

details:
  - key: Date
    val: 2020
  - key: Client
    val: SalzburgerLand
  - key: Territories
    val: Germany
  - key: Outcomes
    val: Video, Website, Display, Email


results:

  title: Results
  items:

      - id: #
        summary: "29% of the 6,500 video views generated across the content hub were completed in full, showing that the video content we created was both highly engaging and a highly effective way to communicate with the Secret Escapes audience."
        highlights:
            - key: Microsite Dwell time
              val: "5:57 min"
              icon: dwelltime
            - key: Pax
              val: " 138%"
              icon: views
            - key: HPTO - ctr
              val: "3.75%"
              icon: ctr




solution: >
  <h2 class="title title--lg">The Solution</h2>
  <p class="text--lg">Since Salzburger Land is not just any simple snow sport location but has way much to offer, it was important to bring more detailed information to the members by building a beautiful Microsite focusing on the main activities of the region. We were able to see that our members spend a lot of time on the microsite which shows that the content was really engaging. Furthermore we included a lot of nice offers into the campaign. We were able to increase the bookings by 141% compared to the year before during that time. </p>

  <div class="bv-tablet-hide space--xxl"></div>


microsite-1:
  <hr>
  <h4 class="title title--sm">Microsite - Video&nbsp;Background</h4>
  <p>We decided to implement a nice video provided by the destination to have a more lively feel as soon as someone enters the website. After a little Introduction, we focused on four main topics – wintersport, food, experiences, Alpine comfort and the offers.</p>


microsite-2:
  <hr>
  <h4 class="title title--sm">Microsite - Section&nbsp;Erlebnisse</h4>
  <p>"Lorem ipsum"</p>


display:
  <hr>
  <h4 class="title title--sm">Display</h4>
  <p>"HPTO, MPU"</p>



email:
  <hr>
  <h4 class="title title--sm">Newsletter</h4>
  <p>"We send a targeted Newsletter to over 200.000 members that have already shown interest in snow desinations before."</p>



social:
  <hr>
  <h4 class="title title--sm">Social Media </h4>
  <p>"Facebook..."</p>



---





{% include project/layouts/section-background.html background="intro-background.jpg" content=page.intro-content theme="light" %}

{% include project/layouts/content.html content=page.solution %}


{% include project/layouts/section-longscroll.html image="microsite-1.jpg" bordercolor="bv-border" content=page.microsite-1 %}

{% include project/layouts/section-longscroll.html image="microsite-2.jpg" bordercolor="bv-border" content=page.microsite-2 %}

{% include project/layouts/section-longscroll.html image="display.jpg" ratio="16-9" content=page.display %}

{% include project/layouts/section-longscroll.html image="hpto.jpg" content=page.hpto %}

{% include project/layouts/section-longscroll.html image="email.jpg" bordercolor="bv-border" content=page.email %}

{% include project/layouts/section-social.html image="facebook_post.jpg" content=page.social %}


{% include project/layouts/section-background.html background="intro-background.jpg" content=page.intro-content theme="light" %}
