---
layout: project

id: condor
title: Condor&nbsp;& Grenada
group-parent: work
group-order: 9

intro-headline: >
  <h2 class="title title--lg">Introduction</h2>

intro: >
  <p class="text--lg">Grenada is one of the lesser-known islands of the Caribbean. We wanted to showcase that Grenada is a real hidden gem. With a direct route between Germany and Grenada by Condor, the challenge was to show our members that Grenada is the island escape they have been waiting for - and is, of course, extremely accessible.   </p>

live-url: "https://mp.secretescapes.com/de/2020/grenada"

details:
  - key: Date
    val: 2020
  - key: Client
    val: Condor & Grenada
  - key: Territories
    val: Germany
  - key: Outcomes
    val: Video, Website, Display, Email


results:

  title: Results
  items:

      - id: #
        summary: "The results have shown the great interest of our users in the destination – we have achieved an average open rate of 40%, and the average CTR of 4.5% has been extremely high and demonstrated that our members are really invested in dreaming of an island break. The average dwell time was ~ 7 minutes, showing our members were really engaging with the content."
        highlights:
            - key: Microsite Dwell time
              val: "7 min"
              icon: dwelltime
            - key: Open Rate
              val: " 40%"
              icon: views
            - key: CTR
              val: "4.5%"
              icon: ctr




solution: >
  <h2 class="title title--lg">The Solution</h2>
  <p class="text--lg">We created a landing page where we highlighted Grenada as a very special Caribbean destination, promoting its ‘hidden gem’ qualities and, importantly, showcasing the ease of booking a break with Secret Escapes and Condor. With special flight offers and incredible Secret Escapes packages, members were not only inspired, but also shown a tangible way of having their Caribbean dream realised. This was our third campaign with Grenada and the uptake in engagement and bookings shows that it is striking a chord with our members.</p>

  <div class="bv-tablet-hide space--xxl"></div>


microsite-1:
  <hr>
  <h4 class="title title--sm">Microsite - Video&nbsp;Background</h4>
  <p>We decided to implement a nice video provided by the destination to have a more lively feel as soon as someone enters the website. After a little Introduction, we focused on four main topics – wintersport, food, experiences, Alpine comfort and the offers.</p>


microsite-2:
  <hr>
  <h4 class="title title--sm">Microsite - Section&nbsp;Erlebnisse</h4>
  <p>"Lorem ipsum"</p>


display:
  <hr>
  <h4 class="title title--sm">Display</h4>
  <p>"HPTO, MPU"</p>



email:
  <hr>
  <h4 class="title title--sm">Newsletter</h4>
  <p>"We send a targeted Newsletter to over 200.000 members that have already shown interest in snow desinations before."</p>



social:
  <hr>
  <h4 class="title title--sm">Social Media </h4>
  <p>"Facebook..."</p>



---





{% include project/layouts/section-background.html background="intro-background.jpg" content=page.intro-content theme="light" %}

{% include project/layouts/content.html content=page.solution %}




{% include project/layouts/section-background.html background="intro-background.jpg" content=page.intro-content theme="light" %}
